<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.MenuDao">
    <resultMap id="menuMap" type="com.baizhi.entity.Menu">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="iconCls" column="icon_cls"/>
        <result property="jspUrl" column="jsp_url"/>
        <result property="parentId" column="parent_id"/>
        <collection property="clist" ofType="com.baizhi.entity.Menu">
            <result property="id" column="c_id"/>
            <result property="title" column="c_title"/>
            <result property="iconCls" column="c_icon"/>
            <result property="jspUrl" column="c_jsp"/>
        </collection>
    </resultMap>

    <select id="selectAllNav" resultMap="menuMap">
        select p.*
        from (
                 select t1.*,
                        t2.id       c_id,
                        t2.title    c_title,
                        t2.icon_cls c_icon,
                        t2.jsp_url  c_jsp
                 from menu t1 left join menu t2
                  on t1.id = t2.parent_id
             ) p
        where p.parent_id = 0
    </select>



</mapper>